@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="ay_container">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
        <div class="card-header">Dizüstü Bilgisayar</div>
        <div class="card-body text-secondary">
            <div class="card" style="width: 16rem;">
                <img src="https://productimages.hepsiburada.net/s/273/550/110000259530145.jpg/format:webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Hp Laptop</p>
                    <h3 class="card-text"><b>8000 TL</b></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 22rem;">
        <div class="card-header">Tablet</div>
        <div class="card-body text-secondary">
            <div class="card" style="width: 16rem;">
                <img src="https://productimages.hepsiburada.net/s/289/500/110000278532021.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Samsung Tablet</p>
                    <h3 class="card-text"><b>4000 TL</b></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 22rem;">
        <div class="card-header">Klavye</div>
        <div class="card-body text-secondary">
            <div class="card" style="width: 16rem;">
                <img src="https://productimages.hepsiburada.net/s/124/500/110000074307412.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Logitech Klavye</p>
                    <h3 class="card-text"><b>1200 TL</b></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-secondary mb-3" style="max-width: 22rem;">
        <div class="card-header">Akıllı Saat</div>
        <div class="card-body text-secondary">

            <div class="card" style="width: 16rem;">
                <img src="https://productimages.hepsiburada.net/s/265/1500/110000249712888.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Samsung Galaxy Watch5</p>
                    <h3 class="card-text"><b>4200 TL</b></h3>
                </div>
            </div>
        </div>
    </div>

</div>